$rose: rgba(239, 97, 97, 0.46);
$lavender: rgb(175, 137, 199);

body {
  color: $rose;
}

a {
  color: $rose;
  cursor: pointer;
}

a:hover {
  text-shadow: 1px 1px 5px $lavender;
}

a:link, a:visited {
  color: $rose;
  text-decoration: none;
}

a:link:active, a:visited:active {
  color: $lavender;
  text-decoration: none;
}

img {
  max-width: 80%;
  padding: 5px;
  border-style: solid;
  border-color: $rose;
}

video {
  max-width: 80%;
  padding: 5px;
  border-style: solid;
  border-color: $rose;
}

input {
  outline-color: $lavender;
}

button {
  background-color: $rose;
  font-size: 0.8em;
  color: white;
  outline: none;
  transition: 0.6s;
}

button:hover {
  box-shadow: 2px 2px 5px $rose;
}

button:active {
  transition: none;
  background-color: $lavender;
  box-shadow: 2px 2px 5px $lavender;
}

.container {
  align-items: center;
  margin: 10px 40px 10px 40px;
}

.card {
  padding: 20px;
  margin: 20px 0;
  text-align: center;
}

.breed-selector {
  text-align: center;
}

.breed-name {
  font-size: 2em;
}

.sweeties {
  display: block;
  margin: 0 auto;
  margin-top: 2em;
}

.link-container {
  margin-top: 50px;
  text-align: center;
}

#list-title {
  font-size: 1.2em;
  color: $rose;
}

#title {
  text-align: center;
  margin-bottom: 60px;
  font-size: 4em;
  color: $rose;
}

#instructions {
  margin-top: 50px;
  text-align: center;
}

#sweeties-container {
  text-align: center;
  align-items: center;
  margin-bottom: 1200px;
}
